langchain==0.3.20
langchain-openai==0.3.7
openai==1.65.4
dashscope==1.22.2
Pillow==11.1.0
python-dotenv==1.0.1
pandas==1.5.3
numpy==1.24.3
requests==2.31.0
matplotlib==3.7.1
mplfinance==0.12.9b7
pandas_ta==0.3.14b0
langgraph==0.3.5